---
import SectionContainer from "./SectionContainer.astro";
import SectionTitle from "./SectionTitle.astro";
import Slider from "./Slider.astro";
import SliderContainer from "./SliderContainer.astro";
---

<section class="bg-primwhite text-black">
  <img src="/imagen4.webp" class="rounded-lg " loading="lazy" alt="" />
  <SectionContainer class="mx-8">
    <SectionTitle
      title="Nothing OS 3.0"
      subtitle="Taking inspiration from the phone’s iconic hardware design, we’ve given our software a new visual identity that feels unmistakably Nothing."
    />
    <SliderContainer>
      <Slider
        video="NOTH_OSV1.mp4"
        title="Nothing DNA"
        description="As sleek and unique as a device should be. Explore the Dot Engine amongst hundreds of bespoke Nothing animations, icons and fonts"
      />
      <Slider
        video="NOTH_OSV2.mp4"
        title="Functional customisations"
        description="Personal touches that make snse to you. Dive into Quick Settings and Loock Screen customisations to unlock innovate new daily shortcuts"
      />
      <Slider
        video="NOTH_OSV3.mp4"
        title="Real Connections"
        description="Prioritise people, not apps. Discover new ways to stay connected with Shared Widgets. Send direct reactions and responses straight to your favourite people's lock screens"
      />
      <Slider
        image="NOTH_OSV4.webp"
        title="Powered by Android 15"
        description="The latest innovations experienced through the eyes of Nothing. With 3 years of major Android updates and 4 years of security updates"
      />
    </SliderContainer>
    <SectionTitle
      title="ChatGPT, integrated"
      subtitle="Ask, listen and learn from ChatGPT on-the-go. A first-of-its-kind integration, made for your Nothing ecosystem. Only on Nothing earbuds when connected to a Nothing phone. Compatible with Phone (1), Phone (2) and Phone (2a)."
    />

    <article class="grid grid-cols-2 cursor-default text-left">
      <section class="items-center justify-center">
        <img
          src="chatgpt_1.webp"
          class="hover:scale-90 transition m-2"
          loading="lazy"
          alt="Powered by ChatGPT Image "
        />
        <div class="mx-3 text-pretty">
          <h2 class="text-4xl">Voice control</h2>
          <p>
            Use your voice to access ChatGPT on Ear and Ear (a), wherever you
            are. Setup via the Nothing X app. Coming soon to Ear (1), Ear (2)
            and Ear (stick).
          </p>
        </div>
      </section>
      <section class="items-center justify-center">
        <img
          src="chatgpt_2.webp"
          class="hover:scale-90 transition m-2"
          loading="lazy"
          alt="Powered by ChatGPT Image "
        />
        <div class="mx-3 text-pretty pb-6">
          <h2 class="text-4xl">Bespoke Nothing Widgets</h2>
          <p>
            Get the answers you need faster, and at your fingertips. Text, voice
            or image search right from your home screen.
          </p>
        </div>
      </section>
    </article>
  </SectionContainer>
</section>
