<section class="spects" id="spects">
    <h1>Spects</h1>

    <details name="spect">
        <summary>Sumary</summary>
        <hr>
        <table>
            <tr>
                <th>CPU</th>
                <td>Qualcomm Snapdragon 8+ Gen 1</td>
                <td>Qualcomm Snapdragon 778G+</td>
            </tr>
            <tr>
                <th>Capacity</th>
                <td>
                    <p>8GB RAM + 128GB storage</p>
                    <p>12GB RAM + 256GB storage</p>
                    <p>12GB RAM + 512GB storage</p>
                </td>
                <td>
                    <p>8GB RAM + 128GB storage</p>
                    <p>8GB RAM + 256GB storage</p>
                    <p>12GB RAM + 512GB storage</p>
                </td>
            </tr>
            <tr>
                <th>IP Classification</th>
                <td>IP54</td>
                <td>IP53</td>
            </tr>
            <tr>
                <th>Dimensions</th>
                <td>162.1 mm x 76.4 mm x 8.6 mm</td>
                <td>159.2 mm x 75.8 mm x 8.3 mm</td>
            </tr>
            <tr>
                <th>Weight</th>
                <td>201.2 g</td>
                <td>193.5 g</td>
            </tr>
        </table>
    </details>

    <details name="spect">
        <summary>Screen</summary>
        <hr>
        <table>
            <tr>
                <th>Screen Size</th>
                <td>AMOLED screen of 6,7" LTPO flexible</td>
                <td>AMOLED screen flexible of 6,55"</td>
            </tr>
            <tr>
                <th>Front Glass</th>
                <td>Corning® Gorilla® Glass 5</td>
                <td>Corning® Gorilla® Glass 5</td>
            </tr>
            <tr>
                <th>Back Glass</th>
                <td>Corning® Gorilla® Pillowed Glass 5</td>
                <td>Corning® Gorilla® Glass 5</td>
            </tr>
            <tr>
                <th>Maximum Brightness*</th>
                <td>1000 nits</td>
                <td>500 nits</td>
            </tr>
            <tr>
                <th>Maximum Brightness(HDR)*</th>
                <td>1600 nits</td>
                <td>1200 nits</td>
            </tr>
            <tr>
                <th>Update Frequency</th>
                <td>1 - 120 Hz</td>
                <td>60 - 120 Hz</td>
            </tr>
            <tr>
                <th>Color depth</th>
                <td>10 bits</td>
                <td>10 bits</td>
            </tr>
        </table>

        <p class="aclaracion">*The maximum brightness of the screen may vary depending on the content and the environment in which the device is used.</p>
    </details>

    <details name="spect">
        <summary>Glyph</summary>
        <hr>
        <table>
            <tr>
                <th>Glyph Zone</th>
                <th>33 individually addressable zones</t>
                <th>12 zonas direccionables</t>
            </tr>
            <tr>
                <th>Glyph Ringtones & Notification sounds</th>
                <td>✓*</td>
                <td>✓</td>
            </tr>
            <tr>
                <th>Flip-to-Glyph</th>
                <td>✓</td>
                <td>✓</td>
            </tr>
            <tr>
                <th>Load counter</th>
                <td>✓</td>
                <td>✓</td>
            </tr>
            <tr>
                <th>Bedtime</th>
                <td>✓</td>
                <td>✓</td>
            </tr>
            <tr>
                <th>Comments on Google Assistant</th>
                <td>✓</td>
                <td>✓</td>
            </tr>
            <tr>
                <th>Reverse Charge Glyph</th>
                <td>✓</td>
                <td>✓</td>
            </tr>
            <tr>
                <th>Glyph Composer</th>
                <td>✓*</td>
                <td>✓</td>
            </tr>
            <tr>
                <th>Glyph Torch</th>
                <td>✓</td>
                <td>✓**</td>
            </tr>
            <tr>
                <th>Essential Notifications</th>
                <td>✓</td>
                <td>✓**</td>
            </tr>
            <tr>
                <th>Glyph Timer</th>
                <td>✓</td>
                <td>-</td>
            </tr>
            <tr>
                <th>Volume Indicator</th>
                <td>✓</td>
                <td>-</td>
            </tr>
            <tr>
                <th>Glyph Progress</th>
                <td>✓</td>
                <td>-</td>
            </tr>
            <tr>
                <th>Auto Brightness</th>
                <td>✓</td>
                <td>-</td>
            </tr>
        </table>

        <p class="aclaracion">*Use the 11 Glyph segments to create more advanced animations</p>
        <p class="aclaracion">**Available in Nothing OS 2.0 update</p>
    </details>

    <details name="spect">
        <summary>Camera</summary>
        <hr>
        <table>
            <h2>Back Cameras</h2>
            <tr>
                <th>Camera System</th>
                <th>50 MP (Sony IMX890 sensor) + 50 MP (Samsung JN1 sensor)</th>
                <th>50 MP (Sony IMX766 sensor) + 50 MP (Samsung JN1 sensor)</th>
            </tr>
            <tr>
                <th>Portrait Mode</th>
                <td>Available with 2x zoom</td>
                <td>Available</td>
            </tr>
            <tr>
                <th>Advanced HDR</th>
                <td>✓</td>
                <td>-</td>
            </tr>
            <tr>
                <th>Night Mode</th>
                <td>Available with HDR Advanced</td>
                <td>✓</td>
            </tr>
            <tr>
                <th>Motion Capture 2.0</th>
                <td>✓</td>
                <td>-</td>
            </tr>
            <tr>
                <th>Super Zoom Resolution</th>
                <td>✓</td>
                <td>-</td>
            </tr>
            <tr>
                <th>Macro HD</th>
                <td>✓</td>
                <td>-</td>
            </tr>
            <tr>
                <th>Scene detection</th>
                <td>✓</td>
                <td>✓</td>
            </tr>
            <tr>
                <th>Motion Capture 2.0</th>
                <td>✓</td>
                <td>✓</td>
            </tr>
            <tr>
                <th>Expert Mode</th>
                <td>✓</td>
                <td>✓</td>
            </tr>
            <tr>
                <th>Panoramic</th>
                <td>✓</td>
                <td>✓</td>
            </tr>
            <tr>
                <th>Night Panoramic</th>
                <td>✓</td>
                <td>✓</td>
            </tr>
            <tr>
                <th>Document Mode</th>
                <td>✓</td>
                <td>✓</td>
            </tr>
            <tr>
                <th>Built-in filters Nothing</th>
                <td>Lenticular</td>
                <td>-</td>
            </tr>
        </table>

        <hr>

        <table>
            <h2>Front Camera</h2>
            <tr>
                <th>Megapíxeles</th>
                <td>32 MP</td>
                <td>16 MP</td>
            </tr>
            <tr>
                <th>Sensor</th>
                <td>Sony IMX615</td>
                <td>Sony IMX471</td>
            </tr>
            <tr>
                <th>Sensor Size</th>
                <td>1/2.74”</td>
                <td>1/3.1”</td>
            </tr>
            <tr>
                <th>Opening</th>
                <td>ƒ/2.45</td>
                <td>ƒ/2.45</td>
            </tr>
            <tr>
                <th>Moving Photo</th>
                <td>✓</td>
                <td>✓</td>
            </tr>
            <tr>
                <th>Built-in filters Nothing</th>
                <td>Lenticular</td>
                <td>-</td>
            </tr>
            <tr>
                <th>Advanced HDR</th>
                <td>✓</td>
                <td>-</td>
            </tr>
            <tr>
                <th>Portrait Mode</th>
                <td>✓</td>
                <td>✓</td>
            </tr>
            <tr>
                <th>Night Mode</th>
                <td>✓</td>
                <td>✓</td>
            </tr>
            <tr>
                <th>Live HDR</th>
                <td>✓</td>
                <td>-</td>
            </tr>
            <tr>
                <th>Video Capability</th>
                <td>1080p at 60 fps</td>
                <td>1080p at 30 fps</td>
            </tr>
            <tr>
                <th>EIS for vídeo</th>
                <td>✓</td>
                <td>-</td>
            </tr>
        </table>

        <hr>

        <table>
            <h2>Video</h2>
            <tr>
                <th>4K Recording</th>
                <td>60 fps</td>
                <td>30 fps</td>
            </tr>
            <tr>
                <th>Live HDR</th>
                <td>4K at 30 fps</td>
                <td>1080p at 30 fps</td>
            </tr>
            <tr>
                <th>Slo-mo</th>
                <td>480 fps</td>
                <td>120 fps</td>
            </tr>
                <th>Night Mode</th>
                <td>✓</td>
                <td>✓</td>
            </tr>
            <tr>
                <th>Action Mode</th>
                <td>✓</td>
                <td>-</td>
            </tr>
            <tr>
                <th>Time Lapse(4K)</th>
                <td>✓</td>
                <td>-</td>
            </tr>
            <tr>
                <th>OIS and EIS</th>
                <td>✓</td>
                <td>✓</td>
            </tr>
        </table>
    </details>

    <details name="spect">
        <summary>Battery</summary>
        <hr>
        <table>
            <tr>
                <th>Battery Size</th>
                <td>4700 mAh</td>
                <td>4500 mAh</td>
            </tr>
            <tr>
                <th>Wired Charging</th>
                <td>45W</td>
                <td>33W</td>
            </tr>
            <tr>
                <th>Wireless Charging</th>
                <td>15W Qi with dual charging</td>
                <td>15W Qi with dual charging</td>
            </tr>
            <tr>
                <th>Reverse Charging</th>
                <td>5W</td>
                <td>5W</td>
            </tr>
        </table>
    </details>
</section>

<style>
    hr {
        color: #000;
    }
    .spects {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        gap: 2rem;
        min-height: 100vh;
        margin-bottom: 2rem;
    }

    .spects h1 {
        font-size: 5rem;
        color: var(--white);
        font-family: var(--primaryFont);
        margin-bottom: 5rem;
    }

    details{
        padding: 2rem;
        border: 1px solid var(--white);   
        border-radius: 2rem;

        width: 80%;

        color: var(--white);
        font-family: var(--primaryFont);

        transition: .3s ease-in-out;

        cursor: pointer;

        @media (width <= 768px) {
            width: 95%;
            padding: 1rem;
        }
    }

    details:hover{
        background-color: var(--white);
        color: var(--black);
    }

    details h2{
        font-size: 3rem;
        color: #000;
        margin-bottom: 1rem;
        text-align: center;
        
    }

    details sumary{
        font-size: 2rem;
        color: var(--white);
    }

    details table{
        width: 100%;
        margin-bottom: 2rem;
    }

    details table:last-child{
        margin-bottom: 0;
    }

    details table th, details table td{
        padding: 1rem;
        text-align: center;
        max-width: 10rem;
    }

    details[open]{
        background-color: var(--white);
        color: var(--black);
    }

    .aclaracion{
        font-weight: 100;
        font-size: 1.5rem;
        text-align: center;
    }
</style>