---
import Header from "@/components/Header.astro";
import "@/styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Nothing Phone Web | Clone</title>
  </head>
  <body class="font-onest bg-black text-white">
    <Header />

    <slot />
  </body>
</html>

<style is:global>
  ::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #f6faff;
    border-radius: 1rem;
  }

  html {
    scroll-behavior: smooth;
  }

  #header-nav {
    animation: blur linear both 0.5s;
    animation-timeline: scroll();
    animation-range: 0 500px;
  }

</style>
